* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

body {
  background-color: black;
}

.container {
  border-radius: 25px;
  position: relative;
  max-width: 470px;
  margin: 0 auto;
  border-top: 1px solid rgb(33, 190, 94);
  border-bottom: 1px solid rgb(33, 190, 94);
  padding: 5px;
}

.container img {
  /* display: none; */
  width: 100%;
  z-index: -1;
}

.container-info {
  /* padding: 1rem; */
  background-color: rgb(255, 255, 255);
  color: rgb(4, 2, 37);
  border-radius: 25px;
  position: absolute;
  top: 10%;
  left: 45%;
  max-width: 45%;
  /* height: 30vh; */
  z-index: 2;
  padding: 0 10px;
}

.container-info h2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.container-info span {
  text-decoration: underline;
}

.container-info ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-info img {
  max-width: 100px;
}
